<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>MyServlet.ProcessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/processServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FindServlet</servlet-name>
        <servlet-class>MyServlet.FindServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindServlet</servlet-name>
        <url-pattern>/findServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>MyServlet.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/addServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JudgeServlet</servlet-name>
        <servlet-class>MyServlet.JudgeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JudgeServlet</servlet-name>
        <url-pattern>/judgeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>MyServlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ModifyServlet</servlet-name>
        <servlet-class>MyServlet.ModifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifyServlet</servlet-name>
        <url-pattern>/modifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpeg</url-pattern>
    </servlet-mapping>
</web-app>