.find {
    display: inline-block;
}
.text {
    display: inline-block;
}
table.title{    /* 信息表格的样式 */
    margin-top: 10px;
    text-align: center;
    width: 1000px;
    border-color: #000000;
}
.hr {
    width: 1000px;
    height: 5px;
    border:none;
    border-top:5px solid #178d98;
}
.buttons{   /* 按钮样式 */
    color: white;
    background-color: #000461;
    border-width: 0;
    width: 100px;
    height: 25px;
}
.error_text {
    color: red;
    height: 10px;
}
.text_modify,.text_delete{   /* 表格 修改/删除 操作按钮样式 */
    display: inline-block;
    color: deepskyblue;
    text-decoration: underline;
}
.input_text {
    text-align: right;
    width: 100px;
}
.input {
    width: 200px;
    height: 25px;
}
.div {
    margin-top: 3px;
}
.selection {
    width: 200px;
    height: 25px;
}
.time {
    width: 200px;
    height: 25px;
}
.input_in {
    width: 200px;
    height: 25px;
}