.root {
    -fx-font-family: "微软雅黑";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-size: stretch stretch;
    -fx-background-position: center center;
}
.buttonView:hover{
    -fx-cursor: hand;
    -fx-pref-height: 80px;
    -fx-font-size: 20px;
}
.titleLabel {
    -fx-font-size: 25px;
}
#failReason {
    -fx-text-fill: red;
}
.table-view {
    -fx-text-alignment: CENTER;
}
